version: "3.9"

services:
  php-app:
    build: .
    container_name: php-age-app
    ports:
      - "8080:80"
    depends_on:
      - mysql-db
    volumes:
      - .:/var/www/html

  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: age_calculator
      MYSQL_USER: user1
      MYSQL_PASSWORD: pass123
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql-data:

